@import './index.scss';
@import './animations';

.banner {
  scroll-snap-align: end;
  height: calc(100vh - 5rem);
  width: 100vw;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/images/interior-1.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: shrink 1s forwards;

  &-heading {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    color: $light;
    animation: fadeInBottom 1s .5s both;
  }

  &-subHeading {
    font-size: 24px;
    animation: fadeInBottom 1s .7s both;
  }
}