@import './index.scss';

$images: '../assets/images/building-1.jpg', '../assets/images/house-2.jpg', '../assets/images/house-1.jpg';
$colors: 'red', 'yellow', 'gray';

.featured {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  scroll-snap-align: end;

  &-container {
    height: 85%;
    width: $width;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  &-property {
    flex: 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

    & :nth-child(1) {
      grid-row: span 2;
    }

    @for $i from 1 through length($images) {
      & :nth-child(#{$i}).featuredCard {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(nth($images,$i));
        background-position: center;
        background-size: cover;
      }
    }
  }

  &Card {
    box-shadow: 5px 5px 2px #ccc;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    display: flex;
    height: 100%;
    transition: all 800ms ease-in-out;
    opacity: 0;
    overflow: hidden;
    transform: translateY(10px);

    &.appear {
      opacity: 1;
      transform: translateY(0);
    }

    &-info {
      height: 7rem;
      width: 100%;
      background-color: white;
      border-radius: inherit;
      margin-top: auto;
      transition: all 600ms ease-in-out;
      transform: scaleY(0);

      &.grow {
        transform: scaleY(1);
      }
    }
  }
}