@import './index.scss';

.filter {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;

  &-container {
    height: 100%;
    width: $width;
    margin: auto;
    padding-block: 0.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &-link {
      border: 0.5px solid #aaa;
      color: #aaa;
      min-width: 4rem;
      height: 3rem;
      padding-inline: 1rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .7rem;
      border-radius: 3rem;
      font-size: 1.1rem;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &.selected,
      &:hover {
        background-color: lightgray;
        color: $dark;
        border-color: lightgray;
      }
    }
  }

  &-cards {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

}