@import './index.scss';

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: $light;

  main {
    width: 100%;
    height: auto;
    min-height: calc(100% - 5rem);
    position: relative;
  }
}