@import "./index.scss";
@import './animations';

.search {
  height: 140px;
  width: 100%;
  position: relative;

  &-container {
    position: absolute;
    width: 100%;
    height: calc(3 * 100vh + 40vh);
    background: transparent;
    display: flex;
    justify-content: center;
  }

  &-input {
    height: 80px;
    width: 80px;
    background-color: $light;
    position: absolute;
    border-radius: $radius-lg;
    padding: 0 1rem;
    transform: scale(0);

    &.appear {
      animation: expand 1.3s both;
    }
  }

  &-icon {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: $dark;
    border-radius: $radius-lg;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    cursor: pointer;
    outline: none;
    left: calc(50% - 35px + 230px);

    &.appear {
      animation: slide 1.3s;
    }

    &.float {
      transition: all 1s 0s;
      position: sticky;
      transform: scale(1);
      top: calc(100vh - 120px);
      left: calc(100vw - 120px);
      z-index: 99999;
    }
  }
}